# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# city data file
city_data_path="output_data/cities.csv"

# Read csv and put into a dataframe
city_df=pd.read_csv(city_data_path)

In [4]:
city_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,codrington,-38.2667,141.9667,55.00,68.0,61.0,12.68,AU,1.611678e+09
1,1,bireun,5.2030,96.7009,77.52,83.0,98.0,4.18,ID,1.611678e+09
2,2,grindavik,63.8424,-22.4338,26.60,54.0,0.0,21.85,IS,1.611678e+09
3,3,nuuk,64.1835,-51.7216,21.20,73.0,75.0,9.22,GL,1.611678e+09
4,4,vao,-22.6667,167.4833,76.73,75.0,78.0,19.64,NC,1.611678e+09

In [11]:
city_df.columns

Index(['Unnamed: 0', 'City', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [27]:
city_renamed_df=city_df.drop(labels='Unnamed: 0', axis=1)

In [28]:
city_renamed_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,codrington,-38.2667,141.9667,55.00,68.0,61.0,12.68,AU,1.611678e+09
1,bireun,5.2030,96.7009,77.52,83.0,98.0,4.18,ID,1.611678e+09
2,grindavik,63.8424,-22.4338,26.60,54.0,0.0,21.85,IS,1.611678e+09
3,nuuk,64.1835,-51.7216,21.20,73.0,75.0,9.22,GL,1.611678e+09
4,vao,-22.6667,167.4833,76.73,75.0,78.0,19.64,NC,1.611678e+09

In [36]:
city_clean_df=city_renamed_df.dropna(how="any")

In [39]:
city_clean_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,codrington,-38.2667,141.9667,55.00,68.0,61.0,12.68,AU,1.611678e+09
1,bireun,5.2030,96.7009,77.52,83.0,98.0,4.18,ID,1.611678e+09
2,grindavik,63.8424,-22.4338,26.60,54.0,0.0,21.85,IS,1.611678e+09
3,nuuk,64.1835,-51.7216,21.20,73.0,75.0,9.22,GL,1.611678e+09
4,vao,-22.6667,167.4833,76.73,75.0,78.0,19.64,NC,1.611678e+09

In [ ]:
clean_city

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# gmaps.figure()

In [62]:
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=2) #how to avoid repeating map behavior?
heatmap_layer = gmaps.heatmap_layer(
    city_clean_df[["Lat", "Lng"]], weights=city_clean_df["Humidity"])


fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# testing zoom /center parameter to avoid repeating map behavior
# gmaps.figure(center=(0.0, 0.0), zoom_level=2)

Figure(layout=FigureLayout(height='420px'))

In [50]:
heatmap_layer.max_intensity = 50
heatmap_layer.point_radius =5

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [70]:
city_renamed_df.head()
city_renamed_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,5.450000e+02
mean,19.965408,14.795495,51.545908,71.361468,56.521101,8.687028,1.611678e+09
std,32.619815,89.625104,33.925459,20.943367,39.205811,6.312122,9.816265e+01
min,-54.800000,-175.200000,-54.060000,8.000000,0.000000,0.430000,1.611678e+09
25%,-4.850000,-65.102300,32.000000,61.000000,18.000000,3.650000,1.611678e+09
50%,22.276900,18.966700,62.530000,76.000000,75.000000,7.110000,1.611679e+09
75%,46.863300,95.100000,78.580000,86.000000,93.000000,11.500000,1.611679e+09
max,78.218600,178.416700,100.400000,100.000000,100.000000,35.680000,1.611679e+09

In [93]:
temp_filter=(city_renamed_df['Max Temp']<78.0) & (city_renamed_df['Max Temp']>68.0)
cloud_filter=(city_renamed_df['Cloudiness']<10.00)
wind_filter=city_renamed_df['Wind Speed']<8.00

# cloud_filter=
ideal_weather_df=city_renamed_df.loc[temp_filter&cloud_filter&wind_filter,:]
display(ideal_weather_df)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
78,sao filipe,14.8961,-24.4956,77.32,57.0,0.0,6.20,CV,1.611678e+09
190,bilma,18.6853,12.9164,77.25,13.0,0.0,3.65,NE,1.611678e+09
202,ixtapa,20.7000,-105.2000,72.00,68.0,1.0,4.61,MX,1.611678e+09
293,pyapon,16.2833,95.6833,71.29,61.0,0.0,7.18,MM,1.611679e+09
295,kamphaeng phet,16.2500,99.5000,77.07,41.0,2.0,2.71,TH,1.611679e+09
308,pakokku,21.3333,95.1000,71.06,49.0,0.0,2.57,MM,1.611679e+09
487,phibun mangsahan,15.2447,105.2291,73.40,68.0,0.0,5.75,TH,1.611679e+09
507,byron bay,-28.6500,153.6167,71.60,94.0,7.0,4.61,AU,1.611678e+09
510,pa sang,18.5262,98.9394,75.99,68.0,0.0,1.63,TH,1.611679e+09
515,ormara,25.2088,64.6357,68.58,47.0,0.0,3.62,PK,1.611679e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [94]:
hotel_df=ideal_weather_df.reset_index(drop=True)
display(hotel_df.head())

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,sao filipe,14.8961,-24.4956,77.32,57.0,0.0,6.20,CV,1.611678e+09
1,bilma,18.6853,12.9164,77.25,13.0,0.0,3.65,NE,1.611678e+09
2,ixtapa,20.7000,-105.2000,72.00,68.0,1.0,4.61,MX,1.611678e+09
3,pyapon,16.2833,95.6833,71.29,61.0,0.0,7.18,MM,1.611679e+09
4,kamphaeng phet,16.2500,99.5000,77.07,41.0,2.0,2.71,TH,1.611679e+09

In [95]:
# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,sao filipe,14.8961,-24.4956,77.32,57.0,0.0,6.20,CV,1.611678e+09,
1,bilma,18.6853,12.9164,77.25,13.0,0.0,3.65,NE,1.611678e+09,
2,ixtapa,20.7000,-105.2000,72.00,68.0,1.0,4.61,MX,1.611678e+09,
3,pyapon,16.2833,95.6833,71.29,61.0,0.0,7.18,MM,1.611679e+09,
4,kamphaeng phet,16.2500,99.5000,77.07,41.0,2.0,2.71,TH,1.611679e+09,

In [117]:
lat=hotel_df.loc[0,'Lat']
long=hotel_df.loc[0,'Lng']
display(lat)
display(long)

14.8961

-24.4956

In [119]:
# location=hotel_df.loc[0,['Lat','Lng']]
# display(location)
location=str(lat)+","+str(long)
location

'14.8961,-24.4956'

In [120]:
# Set parameters to search for hotels with 5000 meters.
base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# display(base_url)
query_params={
    "key":g_key,
    "location": location, #"latitude,longitude",
    "radius":5000,
    "type": "lodging"
    
}

response=requests.get(base_url,params=query_params)

In [121]:
response.url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBVfaqgKLsV4hSVSKn_3N0IYE5RuVvDutU&location=14.8961%2C-24.4956&radius=5000&type=lodging'

In [123]:
from pprint import pprint

In [126]:
hotel_data=response.json()
# pprint(hotel_data)

In [133]:
# store first hotel result into dataframe
name=hotel_data['results'][0]['name']
# do i need lat and long from df, or vicinity?
address=hotel_data['results'][0]['vicinity']

# hotel_lat=hotel_data['results'][0]['geometry']['location']['lat']
# hotel_lng=hotel_data['results'][0]['geometry']['location']['lng']
# print(hotel_lng)
print(f'We recommend you stay at the {name}, located at {address}')

We recommend you stay at the Tortuga B&B, located at Praia Nossa Senhora da Encarnação, São Filipe 1234

In [132]:
# Hit the Google Places API for each city's coordinates.

In [134]:
# Store the first Hotel result into the DataFrame.
hotel_df.loc[0, "Hotel Name"]=name
display(hotel_df)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,sao filipe,14.8961,-24.4956,77.32,57.0,0.0,6.20,CV,1.611678e+09,Tortuga B&B
1,bilma,18.6853,12.9164,77.25,13.0,0.0,3.65,NE,1.611678e+09,
2,ixtapa,20.7000,-105.2000,72.00,68.0,1.0,4.61,MX,1.611678e+09,
3,pyapon,16.2833,95.6833,71.29,61.0,0.0,7.18,MM,1.611679e+09,
4,kamphaeng phet,16.2500,99.5000,77.07,41.0,2.0,2.71,TH,1.611679e+09,
5,pakokku,21.3333,95.1000,71.06,49.0,0.0,2.57,MM,1.611679e+09,
6,phibun mangsahan,15.2447,105.2291,73.40,68.0,0.0,5.75,TH,1.611679e+09,
7,byron bay,-28.6500,153.6167,71.60,94.0,7.0,4.61,AU,1.611678e+09,
8,pa sang,18.5262,98.9394,75.99,68.0,0.0,1.63,TH,1.611679e+09,
9,ormara,25.2088,64.6357,68.58,47.0,0.0,3.62,PK,1.611679e+09,

In [153]:
# do a loop:
hotel_lat_list=[]
hotel_lng_list=[]

base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# hotel_df

for idx, row in hotel_df.head(5).iterrows():
    print(f'Searching for hotels in {row["City"]}')
    location=str(row['Lat'])+","+str(row['Lng'])
#     print(location)
    query_params={
        "key":g_key,
        "location": location, #"latitude,longitude",
        "radius":5000,
        "type": "lodging",
        "language":"en"

    }

    response=requests.get(base_url,params=query_params)
    hotel_data=response.json()
    
    try:
        name=hotel_data['results'][0]['name']
        # do i need lat and long from df, or vicinity?
        address=hotel_data['results'][0]['vicinity']
        hotel_lat=hotel_data['results'][0]['geometry']['location']['lat']
        hotel_lng=hotel_data['results'][0]['geometry']['location']['lng']
        hotel_df.loc[idx, "Hotel Name"]=name
        hotel_lat_list.append(hotel_lat)
        hotel_lng_list.append(hotel_lng)
#         print(f'In {row["City"]}, we recommend you stay at the {name}, located at {address}')
    except:
        print(f'Issue with {row["City"]}')
        hotel_df.loc[idx, "Hotel Name"]=np.nan
        hotel_lat_list.append(np.nan)
        hotel_lng_list.append(np.nan)

Searching for hotels in sao filipe
Searching for hotels in bilma
Searching for hotels in ixtapa
Searching for hotels in pyapon
Searching for hotels in kamphaeng phet

In [154]:
display(hotel_df)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,sao filipe,14.8961,-24.4956,77.32,57.0,0.0,6.20,CV,1.611678e+09,Tortuga B&B
1,bilma,18.6853,12.9164,77.25,13.0,0.0,3.65,NE,1.611678e+09,Expeditions Ténére voyages
2,ixtapa,20.7000,-105.2000,72.00,68.0,1.0,4.61,MX,1.611678e+09,Container Inn Puerto Vallarta
3,pyapon,16.2833,95.6833,71.29,61.0,0.0,7.18,MM,1.611679e+09,Aung Naing Thu Motel
4,kamphaeng phet,16.2500,99.5000,77.07,41.0,2.0,2.71,TH,1.611679e+09,ฟาร์มแพะ หนองผักหนาม
5,pakokku,21.3333,95.1000,71.06,49.0,0.0,2.57,MM,1.611679e+09,Royal Palace Motel
6,phibun mangsahan,15.2447,105.2291,73.40,68.0,0.0,5.75,TH,1.611679e+09,ซันนี่ รีสอร์ท
7,byron bay,-28.6500,153.6167,71.60,94.0,7.0,4.61,AU,1.611678e+09,Backpackers Inn on the Beach
8,pa sang,18.5262,98.9394,75.99,68.0,0.0,1.63,TH,1.611679e+09,โรงแรม จามจุรี 99
9,ormara,25.2088,64.6357,68.58,47.0,0.0,3.62,PK,1.611679e+09,Crystal Beach and Camping Resort Ormara

In [156]:
print(hotel_lat_list)
print(hotel_lng_list)

[14.8807361, 18.6929789, 20.6846539, 16.2919735, 16.239022]
[-24.4929618, 12.9176518, -105.2391801, 95.6809066, 99.513925]

In [160]:
# Plot markers on top of the heatmap.
# marker_locations = hotel_df[["Lat","Lng"]]
# display(marker_locations)

markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [163]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [165]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))